:root.dark{
    --border-btn:1px solid white;
    --color-font: white;
    --color-background:black;
    --color-btn-bg: rgb(50, 53, 59);
}
:root.light{
    --border-btn:1px solid black;
    --color-font: black;
    --color-background:white;
    --color-btn-bg: rgb(220, 221, 224);
}

body{
    border: none;
    color:var(--color-font);
    background-color: var(--color-background);
}

#inp{
    border:none;
    outline:none;
    font-size:0.8em;
}
#sketchContainer{
    width:400px;
    height:400px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding:0;
    gap:0;
    border:none;
    border:var(--border-btn);
}
.Intro{
    display: flex;
    justify-content: space-between;
}
#toggleTheme{
    width:3rem;
    height:3rem;
    background-color: var(--color-btn-bg);
    color:var(--color-font);
}
.columns{
    margin:0;
    border:none;
    padding:0;
    display: flex;
    flex-direction: row;
    gap:0;
    line-height: 0;
}
.rows{
    border:none;
    padding: 0;
    margin: 0;
    border: none; 
    box-sizing: border-box; 
    background-color:white; 
}
#color{
    display: flex;
    justify-content: center;
    align-content:center;
}
.colorSelect{
    border-radius: 50%;
    border:var(--border-btn);
    width:50px;
    height:50px;
}
#opacityValue{
    border:none;
    outline:none;
    font-size:0.8em;
}